@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Consolas', 'Courier New', monospace;
}

canvas {
  display: block;
}

#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
}